# This is a basic workflow to help you get started with Actions

name: Jiaoxue CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ hexo ]
#  pull_request:
#    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout codes
      - uses: actions/checkout@v2
      
      - name: Setup node
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Cache node modules
      - uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install hexo dependencies
        run: |
          npm install -g hexo-cli
          npm install    
          
      - name: Generate files
        run: |
          hexo clean
          hexo generate

      - name: Deploy hexo blog
        env: 
          GITHUB_REPO: github.com/SCUTwlanjiaoxue/scutwlanjiaoxue.github.io
        run: |
          cd ./public && git init && git add .
          git config user.name "valostoolsman"
          git config user.email "1481598464@qq.com"
          git add .
          git commit -m "GitHub Actions Auto Builder at $(date +'%Y-%m-%d %H:%M:%S')"
          git push --force --quiet "https://${{ secrets.ACCESS_TOKEN }}@$GITHUB_REPO" master:master
